.idea
__pycache__
/*/__pycache__
.tox/
*.sqlite3
*.sqlite3-journal
*.egg-info
*.pot
*.py[co]
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
Elkisamara/settings.py