.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  
    .header__container { /* не понимаю почему ругается на хедер*/
      align-items: center;
    }
  
    .left {
      grid-column: 2 span;
    }
  
    .right {
      display: flex;
      justify-content: flex-end;
      grid-column: 10 span;
    }
    .backscene{
      position: absolute;
      width: 1920px;
      height: 633.02px;
      left: 0px;
      top: 83.09px;

      background: rgba(250, 254, 255, 0.54);
      backdrop-filter: blur(13px);
    }
  }